#page{
height: 100%;
background-image: linear-gradient(bottom, rgb(128,69,69) 36%, rgb(135,76,76) 68%, rgb(112,78,78) 84%);
background-image: -o-linear-gradient(bottom, rgb(128,69,69) 36%, rgb(135,76,76) 68%, rgb(112,78,78) 84%);
background-image: -moz-linear-gradient(bottom, rgb(128,69,69) 36%, rgb(135,76,76) 68%, rgb(112,78,78) 84%);
background-image: -webkit-linear-gradient(bottom, rgb(128,69,69) 36%, rgb(135,76,76) 68%, rgb(112,78,78) 84%);
background-image: -ms-linear-gradient(bottom, rgb(128,69,69) 36%, rgb(135,76,76) 68%, rgb(112,78,78) 84%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.36, rgb(128,69,69)),
	color-stop(0.68, rgb(135,76,76)),
	color-stop(0.84, rgb(112,78,78))
);
width: 100%;
text-align: center;
color: #fff000;
border-color: #0000ff;
position: absolute;
-webkit-border-radius: 300px;
-moz-border-radius: 300px;
border-radius: 300px;
}
 
#quickbuttons{
float: top;
color: #ffffff;
width: 100%;
text-align: center;
position: absolute;
}

#sites{
color: #ffffff;
}

#site1{
position: absolute;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
border-color: #3bbfff;
margin-left: 700px;
}

#site2{
position: absolute;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
border-color: #3bbfff;
margin-left: 400px;
}

#site3{
position: absolute;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
border-color: #3bbfff;
margin-left: 100px;
float: top;
top: 69px;
}

#site4{
position: absolute;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
border-color: #3bbfff;
margin-left: 1000px;
}
